h1{
margin-left:250px;
}

* {
  max-width: 700px;
  margin: auto;
}





#header {
  height: 40px;
  width: 100%;
  color:30, 32, 41
  background-color: #ffcccc;
  position: fixed;
}

#title {
  margin-left: 3%;
}

#footer {
  height: 50px;
  width: 100%;
}
